* {
  box-sizing: border-box;
}

body, html {
  margin: 0;  
  min-height: 100%;
}

footer {
  background-color: #EAE7DC;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
}

h3 {
  color: #495057;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}


/* Header */
h1 {
  color: #E98074;
  text-align: center;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  margin: 0;
}

h2 {
  color: #495057;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
}

header {
  background-color: #EAE7DC;
  margin: 0;
}

nav {
  
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.nav-list-item, a {
  text-decoration: none;
  margin: 0 10px 0 0;
}

a:link {color: #495057;}
a:visited {color: #495057;}
a:hover {color: black; }


/* Section #1 */
.first-section {
  padding: 20px;
}

.first-section-outer {
  display: flex;
  flex-direction: column;
}

.first-section-text {
  color: #495057;
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 2;
}

.first-section-inner {
  text-align: center;
}

.about-img {
  margin: 0 auto;
  width: 50%;
  border-radius: 5%;
  border-color: #8E8D8A;
  border-style: solid;
  border-width: 2px;
}


/* Section #2 */
.second-section {
  background-color: #D8C3A5;
  padding: 20px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #495057;
  list-style-type: square;
  list-style-position: inside;
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 2;
  padding-left: 0px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0;
  list-style-type: square;
  list-style-position: inside;
}

.skill {
  margin: 10px 2% 0 2%;
  color: #495057;
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 2;
}


/* Section #3 */
.third-section {
  padding: 20px;
}

.third-section-outer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.portfolio-img {
  width: 275px;
  height: 275px;
  border-radius: 5%;
  border-color: #8E8D8A;
  border-style: solid;
  border-width: 2px;
}

h4 {
  color: #495057;
  font-size: 30px;
  font-family: 'Lora', serif;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-text {
  color: #495057;
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 1.5;
}

.portfolio-text a {
  color: #E85A4F;
}

/* Section #4 */
.fourth-section {
  padding: 20px;
  background-color: #D8C3A5;
}

.fourth-section-outer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fourth-section-inner {
  text-align: center;
}

.fourth-section-text {
  color: #495057;
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 2;
}

.fourth-section-text-small {
  color: #495057;
  font-size: 13px;
  font-family: 'Lora', serif;
  line-height: 2;
}

form button {
  padding: 10px 16px;
  border-radius: 10%;
  border: 0;
  font-family: 'Lora', serif;
  font-size: 16px;
  background: #495057;
  color: white;
}

form input {
  color: #495057;
  font-size: 16px;
  margin-bottom: 20px;
  width: 90%;
}

form label {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #495057;
  font-family: 'Lora', serif;
  text-align: left;
}

form textarea {
  vertical-align: middle;
  height: 4.75rem;
  width: 86%;
  color: #495057;
  font-size: 16px;
  font-family: 'Lora', serif;
  margin-bottom: 20px;
}

.map-img {
  width: 275px;
  height: 275px;
  margin-top: 20px;
  border-radius: 5%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.fourth-section-socials {
  text-align: center;
}

.social {
  font-size: 22px;
  font-family: 'Lora', serif;
  padding-left: 20px;
  text-decoration: underline;
}


/* Media Queries */

@media all and (min-width: 330px) {
  .skills-list {
    flex-direction: row;
  }
}

@media all and (min-width: 700px) {

  h1 {
    font-size: 70px;
  }

  /* Section #1 */
  .first-section-outer {
    flex-direction: row;
    justify-content: s;
    align-items: center;
  }

  .first-section-inner {
    text-align: left;
    padding: 8px;
  }

  .about-img {
    width: 100%;
  }

  /* Section #3 */
  .third-section-outer {
    flex-direction: row;
  }

  .portfolio-item {
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    justify-content: space-between;
  }

  .portfolio-item a {
    margin-right: 0;
  }

  /* Section #4 */
  .map-img {
    width: 300px;
    height: 300px;
  }

  .map-div {
    width: 100%;
  }

  .fourth-section-outer {
    flex-direction: row;
    margin-bottom: 50px;
  }

  .fourth-section-inner {
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
  }

  .fourth-section-text-small {
    font-size: 15px;
  }
 
}

@media all and (min-width: 900px) {

  /* Section #1 */
  .about-img {
    width: 400px;
    height: 525px;
  }

  .first-section {
    padding-left: 75px;
    padding-right: 75px;
  }

}



@media all and (max-width: 315px) {
  h1 {
    font-size: 10px;
  }
  h2 {
    font-size: 10px;
  }
  html,body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
      overflow-wrap: anywhere;
  }
  nav {
    font-size: 10px;
  }
}

